.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.App-link {
  color: #61dafb;
}

.main-header {
  background: #2185d0 !important;
  padding: 0.8rem 1rem !important;
  width: 100% !important;
  z-index: 1000 !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) !important;
  min-height: 68.8px !important;
}

.ui.main {
  padding: 0.25rem 0.25rem 0.75rem;
}

.center-header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.child-header {
  color: #fff;
  margin: 0;
  font-size: 1.8rem;
  flex: 1 1 auto;
}

.main-page {
  height: 98.8dvh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.fallback-loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .parent-container .main {
    margin: 0 !important;
  }

  .parent-container .fluid {
    padding: 0.25rem !important;
  }

  .detail-tab {
    margin: 0 !important;
  }

  .responsive-header {
    align-items: stretch;
  }

  .responsive-header h2 {
    font-size: 1.3rem;
  }

  .ui.button {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .swal2-modal {
    width: 75%;
  }

  .tab-button-group {
    flex-direction: column; /* Stack vertically */
    gap: 0.5rem;
  }

  .tab-button-group li {
    margin: 0; /* Remove horizontal margin */
  }

  .tab-button {
    padding: 0.75rem 1rem; /* Compact padding */
    font-size: 1rem; /* Optional: smaller font */
  }

  .responsive-button {
    flex-direction: column;
    margin-bottom: 1em !important;
  }

  .responsive-form-button {
    flex-wrap: nowrap !important;
    padding: 1rem;
  }

  .responsive-button .button,
  .responsive-form-button .button {
    margin: 0;
  }

  .chat-input {
    font-size: 16px !important;
  }

  .grid-table {
    min-width: 600px !important;
  }

  .ui.table:not(.unstackable) tbody,
  .ui.table:not(.unstackable) tr,
  .ui.table:not(.unstackable) tr > td,
  .ui.table:not(.unstackable) tr > th {
    display: revert !important;
    padding: 0.25em 0.75em !important;
  }

  .ui.table:not(.unstackable) tr {
    box-shadow: unset !important;
  }

  .ui.table:not(.unstackable) thead {
    display: revert !important;
  }

  .ui.table:not(.unstackable) tr > th {
    background: #f9fafb !important;
  }

  .table-wrapper tbody td {
    max-width: 300px !important;
  }
}

.parent-container .fluid {
  background: #f4f8ff;
  padding: 1rem;
}

.detail-tab {
  margin: 0 1rem;
}

/* .extra-gap {
  margin-top: 77px;
} */

.sticky-header {
  position: sticky;
  z-index: 1000;
  background-color: #2185d0; /* Or your preferred header color */
  border-bottom: 1px solid #ccc;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  box-sizing: border-box;
  border-radius: 0 !important;
}

.responsive-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.responsive-button,
.responsive-form-button {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 0 0 auto auto;
}

[required] {
  border-left: 0.1rem solid red !important;
}

.search-container {
  display: flex;
  gap: 8px;
}

.search-input {
  flex: 1;
}

.refresh-button {
  cursor: pointer;
}

.refresh-button:hover {
  background: #f0f0f0;
}

.tab-button-group {
  list-style: none;
  display: flex;
  /* justify-content: space-between; */
  padding: 0;
  margin: 0.25rem 0 1rem;
  width: 100%;
}

.tab-button-group li {
  /* flex: 1; */
  min-width: 15%;
}

.tab-button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.75rem;
  background: #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: bold;
  color: #fff !important;
}

/* .tab-button.user:hover {
  background: #c1c1c1 !important;
} */

.tab-button.active {
  background: #2185d0 !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
}

.tab-button.user:not(.active) {
  color: #3a3b45 !important;
}

/* chat css starts */

.chat-container {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #d1e7f7;
  font-family: Arial, sans-serif;
}

.chat-heading {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.chat-box {
  height: calc(-300px + 100dvh);
  min-height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: #fafafa;
}

.message-container {
  display: flex;
  margin-bottom: 0.5rem;
}

.message-bubble {
  max-width: 70%;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message-right {
  justify-content: flex-end;
}

.message-left {
  justify-content: flex-start;
}

.bubble-right {
  background-color: #bbffc2;
  text-align: right;
}

.bubble-left {
  background-color: #ffffff;
  text-align: left;
}

.sender {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 0.3rem;
}

.timestamp {
  font-size: 0.75rem;
  color: #9f9c9c;
}

.input-container {
  display: flex;
  gap: 0.5rem;
}

.chat-input {
  flex: 1;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.send-button {
  padding: 0.6rem 1.2rem;
  background-color: #2185d0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.chat-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chat-username {
  line-height: 1;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 1.2rem;
  margin: 0;
}

.status-dot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #00ff00;
  border: 2px solid #fff;
  border-radius: 50%;
}

.online {
  background-color: #00c853;
}

.avatar-container {
  position: relative;
  width: 40px;
  height: 40px;
}

.custom-context-menu {
  position: fixed;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 12px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  border-radius: 6px;
}

.custom-context-menu button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: red;
}

.delete-popup {
  position: fixed;
  background: #fff;
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 9999;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.delete-popup button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.75);
  object-fit: cover;
}

.image-logo {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  margin: 0 auto;
}

.dropdown-popup-header {
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #fff;
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  white-space: nowrap;
  z-index: 10;
}

.dropdown-popup {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5rem;
}

.ui.list .item .image {
  vertical-align: top;
}

.ui.list .item .content {
  display: inline-block;
}

/* grid css starts */

.table-wrapper {
  margin: 1em 0;
  overflow-x: auto;
  max-width: 100%;
  max-height: calc(-250px + 100dvh);
  min-height: 350px;
  /* border-radius: 6px; */
  border-top: 2px solid rgba(34, 36, 38, 0.15);
  -webkit-overflow-scrolling: touch;
}

.table-wrapper table {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse !important;
  border-spacing: 0;
}

.table-wrapper thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  color: #075da8 !important;
  text-align: left;
  padding: 5px 10px !important;
  border: none !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-wrapper thead .image-header {
  color: transparent !important;
}

.table-wrapper tbody td {
  padding: 5px 10px !important;
  border: none !important;
  background: #fff;
  color: #555555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 500px;
}

.table-wrapper tbody tr:not(.selected):hover td {
  background: #f9f9f9 !important;
  /* background-color: #f9fafb; */
}

.table-wrapper tbody tr.selected td {
  background: #0069bd12 !important;
}

.table-wrapper thead tr {
  border-bottom: 2px solid rgba(34, 36, 38, 0.15);
}

.table-wrapper tbody tr {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  cursor: pointer;
}

.table-wrapper img.ui.avatar.image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.ui.table tbody tr {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  cursor: pointer;
}

.grid-row-action-buttons {
  /* margin-left: auto;
  display: flex;
  gap: 10px; */
  text-align: right !important;
  /* max-width: 100px; */
}

.ui.checkbox input:checked ~ label::after {
  color: #075da8 !important;
}

/* Header.css */

.custom-sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100dvh;
  background-color: #075da8;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.custom-sidebar.show {
  left: 0;
}

.sidebar-divider {
  margin: 0 0.5em;
  border-bottom: 1px solid #eee;
}

.sidebar-header {
  padding: 1rem;
}

.sidebar-user {
  display: flex;
  align-items: center;
}

.sidebar-user-info {
  margin-left: 1rem;
  max-width: 70%;
  word-wrap: break-word;
}

.sidebar-menu {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* max-height: calc(-146px + 100dvh); */
}

.sidebar-menu-item {
  color: #fffc;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
  text-decoration: none;
}

.sidebar-menu-item:hover {
  background-color: #2f73ad;
  color: #fff;
}

.sidebar-scrollable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.close-sidebar {
  display: flex !important;
  font-size: 1.5rem !important;
  cursor: pointer;
  margin: 0px -8px !important;
  margin-left: auto !important;
}

.close-btn {
  margin: 0 !important;
  padding: 0.78571429em !important;
}

.close-btn i {
  margin: 0 !important;
}

.sidebar-footer {
  margin-top: auto;
  font-size: 1.2rem;
}

.sidebar-logout {
  cursor: pointer;
  padding: 1rem 2rem 1.5rem;
}
